# API Keys and Secrets
.env

# Cursor-specific ignore (optional but recommended)
.cursor/
.cursorignore

# Python virtual environments
__pycache__/
!backend/data/raw/.gitkeep
venv/
backend/venv/
node_modules/
frontend/dist/
.DS_Store
Vaijayanti_Case_Study.pdf